bitcoin==1.1.27
click==4.0
CodernityDB==0.4.2
coverage==3.7.1
decorator==3.4.2
git+ssh://git@github.com/ethereum/pydevp2p@master#egg=devp2p
ethereum==0.9.64
gevent==1.0.1
greenlet==0.4.5
ipaddress==1.0.7
py==1.4.26
pycrypto==2.6.1
pyelliptic==1.5.6
pyethapp==0.1.1
pyethash==23.1
pysha3==0.3
pytest==2.7.0
pytest-capturelog==0.7
pytest-timeout==0.4
PyYAML==3.11
repoze.lru==0.6
rlp==0.3.7
structlog==15.1.0
tinyrpc==0.5
tox==1.9.2
virtualenv==12.1.1
Werkzeug==0.10.4
wheel==0.24.0
