CodernityDB==0.4.2
leveldb==0.193
click==4.0
decorator==3.4.2
gevent==1.0.1
wheel==0.24.0
pyyaml==3.11
ipython==3.1.0
werkzeug==0.10.4
https://github.com/ethereum/pyrlp/tarball/develop
https://github.com/ethereum/pydevp2p/tarball/master
https://github.com/ethereum/pyethereum/tarball/develop

